@media (max-height:300px) {
    p{
        font-family: 'Courier New', Courier, monospace;

    }
}

@media (min-height:501px) {
    p{
        background-color: aquamarine;
        
    }
}

@media (min-width:601px) {
    body{
        background-color: rgb(29, 136, 150);
        
    }
}

@media (min-width:501px) and (max-width:600px) {
    body{
       
        background-color: darkblue
    }
}

@media (max-width:500px) {
    body{
        background-color: orange;
        
    }
}
