.fixed-login {
    position: fixed;
    top: 10px; /* 원하는 위치 조정 */
    right: 10px; /* 원하는 위치 조정 */
    background-color: #090808; /* 배경색 */
    padding: 10px 20px; /* 여백 */
    border: 1px solid #000000; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    z-index: 999; /* 다른 요소 위에 */
}
.fixed-login a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #f6f3f3; /* 글자색 */
    font-weight: bold; /* 글자 굵게 */
}